idea
.DS_Store
*.rdb
ignore
node_modules
pg_upgrade_*
npm-*
public/build
Dockerrun.aws.json
client/config/*.json
!client/config/template.json
scripts/property-profile/Omniearth/files/*
profile.txt
property-profile-scores.csv
*.heapsnapshot
*.log
.vscode/
**/*.tmp
dll/
yarn.lock
package-lock.json
app-config.js
storybook-static~
